.center {
    margin-left: 35%;
}

section#infinite img.img-avatar{
    border-radius: 20%;
    max-width: 50%;
    max-height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}