/* Project division */

.project-container {
    margin-left: 200px;
    margin-right: 200px;
}

.Project {
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    clear: both;
    margin-left: 50px;
    margin-right: 50px;
}

.Project-Title {
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.Project-Description {
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 15px;
    text-align: center;
}

.project-container h2 {
    font-size: 50px;
    text-align: center;
}

@keyframes Visibility {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.NotVisible {
    opacity: 0;
}

.IsVisible {
    animation-name: Visibility;
    animation-duration: 2s;
    animation-direction: normal;
}