body,
html {
    height: 100%;
    margin: 0;
}

.Content {
    margin: 8px;
}


/* Project division */

.Project {
    margin-top: 25px;
    margin-bottom: 25px;
    display: block;
    clear: both;
}

.Project-Title {
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: bold;
}

.Project-Description {
    margin-top: 3px;
    margin-bottom: 3px;
}


/* Biography  */

.bio-container {
    margin: 10px;
    height: 500px;
    width: 1000px;
}

.bio-container>img {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    max-height: 500px;
    max-width: 500px;
    height: auto;
    width: auto;
    object-fit: contain;
    display: block;
}

.bio-container>p {
    margin: 20px;
    text-align: center;
}