body,
html {
    height: 100%;
    margin: 0;
    font-family: Optima, sans-serif;
}

.Content {
    margin: 8px;
}


/* Biography  */

.bio-container {
    margin: 0 auto;
    height: 500px;
    width: 1000px;
}

.push-center>img {
    float: left;
    max-height: 500px;
    max-width: 500px;
    height: auto;
    width: auto;
    object-fit: contain;
    display: block;
    padding-right: 15px;
    overflow: hidden;
}

.push-center>p {
    margin: 20px;
    text-align: center;
    padding-left: 15px;
}

.footer-container {
    text-align: center;
}

.push-center {
    margin-top: 30px;
}